<div style="width: 100%; height: 90vh;" class="d-flex justify-content-center align-items-center">
  <div style="width: 800px;" class="shadow p-5 row rounded bg-info">
    <div class="col-lg-7 align-items-center">
      <form #loginForm="ngForm" class="border rounded p-5">
        <h1 class="text-light fw-bolder">Login Form</h1>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="Email : admin@demoapp.com"
            name="email" [(ngModel)]="email" email required #useremailinput="ngModel">
          <label for="floatingInput">Email</label>
        </div>
        <!-- Invalid Email -->
        <div *ngIf="useremailinput.invalid && useremailinput.touched" class="mb-3 text-danger fw-bolder">
          Invalid Email
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password :demoapp123"
            name="password" [(ngModel)]="password" required pattern="[a-zA-Z0-9]*" minlength="4"
            #userpasswordinput="ngModel">
          <label for="floatingPassword">Password</label>
        </div>
        <div *ngIf="userpasswordinput.invalid && userpasswordinput.touched" class="mb-3 text-danger fw-bolder">
          Invalid Password
        </div>
        <div class="text-center">
          <input [disabled]="loginForm.invalid" (click)="login()" class="btn btn-warning text-light" type="button"
            value="Login">
        </div>
      </form>
    </div>
    <div class="col-lg-5">
      <img height="350px" class="w-100" src="https://relprod.relianceanimation.in/dist/images/login_illustration1.png"
        alt="">
    </div>


  </div>
</div>